<!doctype html>
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/index2.js"></script>
<title>Welcome to Wukong Master</title>



<div id="div_changesize" class="container" style="margin-top: 50px">

  <header class="jumbotron subhead">
    <!--<meta http-equiv="refresh" content="0.5">-->
<!--
<script>
x = 0
function countSecond( )
{　x = x+1
  var chagefz=document.getElementById("id");
chagefz.value=x ;
document.fm.displayBox.value=x
　 setTimeout("countSecond( )", 100)
}
</script>
<body bgcolor=lightcyan text=red> <p> </br>

<form name=fm>
<input type="text" name="displayBox" value="0" size=4 >
</form>

<script>
countSecond( )
</script>
-->

    <h1>Sensing Data review</h1>
    <div class="row">
      <div class="span12">
        
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Description</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for index, app in enumerate(applications) %}
            <tr class="application" id="app_{{ index+1 }}">
              <td><a href="/applications/{{ index }}">{{ index+1 }}</a></td>
              <td id="id">{{ app.id }}</td>
              <td>{{ app.sensor }}</td>
              <td>{{ app.value }}</td>
            </tr>
            {% end %}
          </tbody>
        </table>
      </div>
    </div>
  </header>
</div>


